body {
    background: #000;
    color: #fff;
}
a {
    width: 100%;
    height: 70%;
    background: black;
    display: inline-block;
}
.myTable td {
    vertical-align: middle;
    border: 1px solid #fff;
    height: 150px;
    width: 150px;
    font-size: 7em;
}